---
http_interactions:
- request:
    method: post
    uri: http://vci.mitre.org:8081/iis-sandbox/soap
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:cdc:iisb:2011" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:submitSingleMessage><tns:username>mitre</tns:username><tns:password>mitre</tns:password><tns:facilityID>MITRE Healthcare</tns:facilityID><tns:hl7Message>MSH|^~\&amp;|||||20210826195631||QBP^Q11^QBP_Q11|4499279197|P|2.5.1|||ER|AL|||||Z34^CDCPHINVS|

        QPD|Z34^Request Immunization History^CDCPHINVS|4499279197||MorrisAIRA^Latrice^^^^^|^^^^^^|20170817||^^^^^USA^|^PRN^PH^^^^|||||

        RCP|I||</tns:hl7Message></tns:submitSingleMessage></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:cdc:iisb:2011:submitSingleMessage"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/soap+xml;action="urn:cdc:iisb:2011:connectivityTest";charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n
        \ <Header />\n   <Body>\n      <submitSingleMessageResponse xmlns=\"urn:cdc:iisb:2011\">\n
        \       <return><![CDATA[MSH|^~\\&||IIS Sandbox v0.4.6|||20210826075631+0000||RSP^K11^RSP_K11|1630007791202122|P|2.5.1|||NE|NE|||||Z31^CDCPHINVS\rMSA|AA|4499279197\rQAK|4499279197|OK|Z34^Request
        a Complete Immunization History^CDCPHINVS\rQPD|Z34^Request Immunization History^CDCPHINVS|4499279197||MorrisAIRA^Latrice^^^^^|^^^^^^|20170817||^^^^^USA^|^PRN^PH^^^^|||||\rPID|1||PCW1X288YBU9^^^IIS^SR~J00H30^^^AIRA-TEST^MR||MorrisAIRA^LatriceAIRA^^^^^L|SmithAIRA^^^^^^M|20170817|F|||1663
        Dmersfoort Cir^^Brownstown^MI^48193^USA^P||^PRN^PH^^^734^9096283||||||||||||\rPID|2||J79W5EJ1M3ZF^^^IIS^SR~J00H3^^^AIRA-TEST^MR||MorrisAIRA^LatriceAIRA2^^^^^L|SmithAIRA^^^^^^M|20170817|F|||1663
        Dmersfoort Cir^^Brownstown^MI^48193^USA^P||^PRN^PH^^^734^9096283||||||||||||\r]]></return>\n
        \     </submitSingleMessageResponse>\n  </Body>\n</Envelope>\n"
  recorded_at: Thu, 26 Aug 2021 19:56:31 GMT
- request:
    method: post
    uri: http://vci.mitre.org:3000/api/v0.2.0/convert/text
    body:
      encoding: UTF-8
      string: "MSH|^~\\&||IIS Sandbox v0.4.6|||20210826075631+0000||RSP^K11^RSP_K11|1630007791202122|P|2.5.1|||NE|NE|||||Z31^CDCPHINVS\rMSA|AA|4499279197\rQAK|4499279197|OK|Z34^Request
        a Complete Immunization History^CDCPHINVS\rQPD|Z34^Request Immunization History^CDCPHINVS|4499279197||MorrisAIRA^Latrice^^^^^|^^^^^^|20170817||^^^^^USA^|^PRN^PH^^^^|||||\rPID|1||PCW1X288YBU9^^^IIS^SR~J00H30^^^AIRA-TEST^MR||MorrisAIRA^LatriceAIRA^^^^^L|SmithAIRA^^^^^^M|20170817|F|||1663
        Dmersfoort Cir^^Brownstown^MI^48193^USA^P||^PRN^PH^^^734^9096283||||||||||||\rPID|2||J79W5EJ1M3ZF^^^IIS^SR~J00H3^^^AIRA-TEST^MR||MorrisAIRA^LatriceAIRA2^^^^^L|SmithAIRA^^^^^^M|20170817|F|||1663
        Dmersfoort Cir^^Brownstown^MI^48193^USA^P||^PRN^PH^^^734^9096283||||||||||||"
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6-1scGGjnZmGtlJ4dJSCyed79ub1c"
    body:
      encoding: UTF-8
      string: '{"resourceType":"Bundle","type":"collection","entry":[{"fullUrl":"resource:0","resource":{"resourceType":"Patient","name":[{"family":"MorrisAIRA","given":["LatriceAIRA"]}],"birthDate":"20170817"}}]}'
  recorded_at: Thu, 26 Aug 2021 19:56:31 GMT
recorded_with: VCR 6.0.0
